	<div>
		<div class="topMessage divMessage">
	   		<i class="fas fa-fw fa-bolt"></i> {{divMessage}} <i class="fas fa-fw fa-bolt"></i>
	 	</div>
		<ul>
			<li>Do battles and duels only</li>
			<li>Don't attack boats!</li>
			<li>Don't do shipyard repairs!</li>
				<ul>We get more fame or hammers from regular battles</ul>
			<li>Don't worry about losses, we still get fame for losses</li>
			<li>Even if your card are low-level - Do attacks</li>
			<li><a (click)="goToLink('https://royaleapi.com/blog/clan-wars-2-update-2')">Click here for more info</a></li>
		</ul>
	</div>
