	<div class="rules">
		<div class="topMessage divMessage">
	   		<i class="fas fa-fw fa-bolt"></i> {{divMessage}} <i class="fas fa-fw fa-bolt"></i>
	 	</div>
		<ul>
			<li>Be active &amp; donate</li>
			<li>Push in Ladder</li>
			<li>Participate in war</li>
				<ul>
					<li>See Clan Wars tab for war infomation</li>
				</ul>
			<li>No "Bad Manners" against any clan members</li>
			<li>We promote a friendly environment and ban any toxic behaviour or scammers</li>
			<li>If you need to take a break - let us know ahead of time</li>
			<li>Elder is earned by merit</li>
			<li>Co-Leader can be earned by being elder and donating 1000 or more for 5 weeks</li>
			<li>200 Donations Required</li>
<!-- 				<ul> -->
<!-- 				 <li>Members: 200</li> -->
<!-- 				 <li>Elders: 200</li> -->
<!-- 				 <li>Co-Leaders: 200</li> -->
<!-- 				</ul> -->
			<li>Violations of the above put you at risk of being kicked or demoted</li>
			<li>Have fun!</li>
		</ul>
	</div>



