	<div class="rules">
		<div class="topMessage rulesMessage">
	   		<i class="fas fa-fw fa-bolt"></i> {{rulesessage}} <i class="fas fa-fw fa-bolt"></i>
	 	</div>
		<ul>
			<li>Be active &amp; donate</li>
			<li>Push in Ladder</li>
			<li>3 Full Clan Wars in a season</li>
			<li>No "Bad Manners" against any clan members</li>
			<li>We promote a friendly environment and ban any toxic behaviour or scammers</li>
			<li>Must do all 3 collection battles and final war battle or risk being kicked or demoted</li>
			<li>If you need to take a break - let us know ahead of time</li>
			<li>Elder is earned from 10 complete Clan Wars</li>
			<li>Co-Leader is earned by being elder and donating 1000 or more for 5 weeks</li>
			<li>Donations Required</li>
				<ul>
				 <li>Members: 400</li>
				 <li>Elders: 500</li>
				 <li>Co-Leaders: 600</li>
				</ul>
			<li>Have fun!</li>
		</ul>
	</div>



