div {
	color: #2e1b0e !important;
}

.rules {
	width: 100vw;
	height: 90vh;
	background-image: url(../../assets/img/Parchment-Background-Torn01.gif);
	background-size: 100% 100%; 
	font-size: 1em;
	padding-left: 3.5em;
}

.rulesMessage {
	padding-top: 1em;
	font-size: 2em;
}

/* figure { */
/* 	background-image: url(../../assets/img/Parchment-Background-Torn01.gif); */
/* 	background-size: 100vw 100vh;  */
/* } */
