@import 'assets/css/rolling-thunder.css';

@font-face {
  font-family: 'Electrical';
  src:  url('assets/fonts/electrical.woff2') format('woff2'),
        url('assets/fonts/electrical.woff') format('woff');
}

@font-face {
  font-family: 'ALoveOfThunder';
  src:  url('assets/fonts/ALoveOfThunder.woff2') format('woff2'),
        url('assets/fonts/ALoveOfThunder.woff') format('woff');
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'ALoveOfThunder';
  background: #e3e3e3;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #1F3357;
}

h1 {
	opacity: 1.0;
}

.topMessage {
	text-align: center;
	opacity: 1.0;
}

.background-container {
    background: #FFFFFF;
    overflow: hidden;
}

.background-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.55;
    background-image: url(./assets/img/ClashRoyaleBackground02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

